.deleteBtn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    cursor: pointer;
    width: 44px;
    height: 24px;
    padding: 0;
}

.listItem {
    font-family: sans-serif;
    font-size: 1px;
    margin-bottom: 10px;
}

.name {
    margin-right: 20px;
}

.number {
    margin-right: 20px;
}

.trOdd {
    background-color: rgb(245, 245, 245);
}

.trEven {
    background-color: #fff;
}